@tailwind base;
@tailwind components;
@tailwind utilities;

/* المتغيرات المخصصة للوضع الداكن */
:root {
  --color-primary: #6750A4;
  --color-on-primary: #FFFFFF;
  --color-surface: #FEF7FF;
  --color-on-surface: #1D1B20;
}

.dark {
  --color-primary: #D0BCFF;
  --color-on-primary: #381E72;
  --color-surface: #1D1B20;
  --color-on-surface: #E6E1E5;
}
